{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Script Bridge{% endblock %}</title>
    {% block static_file %} {% endblock %}
    <link rel="stylesheet" href="{% static 'ScriptBridgeWebApp/styles.css' %}">
</head>
<body style="background-image: url('{% static 'ScriptBridgeWebApp/background.jpg' %}');">
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'question_list_path' %}">Question List</a></li>
                <li><a href="{% url 'contact_us_path' %}">Contact us</a></li>
                <li><a href="{% url 'about_us_path' %}">About us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="banner">
            <img src="{% static 'ScriptBridgeWebApp/banner.jpg' %}" alt="Programming Banner" class="banner-image">
            <h1>Welcome to the Programming Platform</h1>
            <p>Upload, solve, and explore programming challenges.</p>
        </section>

        {% block content %} {% endblock%}
    </main>

    <footer>
        <p>&copy; 2024 Programming Platform. All rights reserved.</p>
        <div class="social-links">
            <a href="https://www.facebook.com/divyansh.baranwal.35">Facebook</a> | <a href="https://www.instagram.com/div__b/profilecard/?igsh=azF6MHd6eTlrczk5">Instagram</a> | <a href="https://www.linkedin.com/in/divyansh-baranwal-008962189?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a>
        </div>
    </footer>

    <script src="{% static 'ScriptBridgeWebApp/script.js' %}"></script>
    {% block js_file %} {% endblock %}
</body>
</html>